/*
 * SASS Base for Sebobo github projects.
 * 01/26/2012 17:23
 */
html {
  height: 100%;
  font-size: 13px;
  font-family: arial;
  color: #333333;
  background: #eeeeee;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

.label {
  padding: 1px 3px 2px;
  font-size: 0.75em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #ccc;
}
.label.important {
  background-color: #c43c35;
}
.label.warning {
  background-color: #f89406;
}
.label.success {
  background-color: #46a546;
}
.label.notice {
  background-color: #62cffc;
}

.borderradius .label {
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

.centered {
  margin: 0 auto;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
.clearfix:after {
  clear: both;
}

.tabs {
  text-align: center;
  list-style: none;
  padding: 0 10px;
  line-height: 24px;
  height: 26px;
  overflow: hidden;
  font-size: 12px;
  font-family: verdana;
  position: absolute;
  bottom: 0;
}
.tabs li {
  border: 1px solid #aaa;
  background: #d1d1d1;
  display: block;
  float: left;
  position: relative;
  z-index: 0;
  text-shadow: 0 1px #fff;
  margin: 0 -3px;
  padding: 0;
  cursor: pointer;
}
.tabs li:hover {
  background: #dadada;
  background-position: 0 -15px;
}
.tabs li.selected {
  background: #fff;
  color: #333;
  z-index: 2;
  border-bottom-color: #fff;
}
.tabs li:before, .tabs li:after {
  border: 1px solid #aaa;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  border-width: 0 0 1px 1px;
}
.tabs li:before {
  left: -6px;
  border-width: 0 1px 1px 0;
}
.tabs li:after {
  right: -6px;
}
.tabs a {
  color: #555;
  text-decoration: none;
  display: block;
  margin: 0 20px;
}
.tabs a:hover {
  text-decoration: none;
}
.tabs:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #aaa;
  z-index: 1;
}

.csstransitions .tabs li {
  -webkit-transition: 0.05s linear all;
  -moz-transition: 0.05s linear all;
  -ms-transition: 0.05s linear all;
  transition: 0.05s linear all;
}

.cssgradients .tabs li {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  background-image: -moz-linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  background-image: -ms-linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  background-image: -o-linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  background-image: linear-gradient(top, #ececec 50%, #d1d1d1 100%);
}
.cssgradients .tabs li:hover {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #efefef 50%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #efefef 50%, #dadada 100%);
  background-image: -ms-linear-gradient(top, #efefef 50%, #dadada 100%);
  background-image: -o-linear-gradient(top, #efefef 50%, #dadada 100%);
  background-image: linear-gradient(top, #efefef 50%, #dadada 100%);
}
.cssgradients .tabs li.selected, .cssgradients .tabs li.selected:hover {
  background: #fff;
}

.borderradius .tabs li {
  border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
}
.borderradius .tabs li:before {
  border-radius: 0 0 6px 0;
  -o-border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
}
.borderradius .tabs li:after {
  border-radius: 0 0 0 6px;
  -o-border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
}

.box-shadow .tabs li {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #ffffff;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #ffffff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #ffffff;
}
.box-shadow .tabs li:before {
  -webkit-box-shadow: 2px 2px 0 #d1d1d1;
  -moz-box-shadow: 2px 2px 0 #d1d1d1;
  box-shadow: 2px 2px 0 #d1d1d1;
}
.box-shadow .tabs li:after {
  -webkit-box-shadow: -2px 2px 0 #d1d1d1;
  -moz-box-shadow: -2px 2px 0 #d1d1d1;
  box-shadow: -2px 2px 0 #d1d1d1;
}
.box-shadow .tabs li:hover:before {
  -webkit-box-shadow: 2px 2px 0 #dadada;
  -moz-box-shadow: 2px 2px 0 #dadada;
  box-shadow: 2px 2px 0 #dadada;
}
.box-shadow .tabs li:hover:after {
  -webkit-box-shadow: -2px 2px 0 #dadada;
  -moz-box-shadow: -2px 2px 0 #dadada;
  box-shadow: -2px 2px 0 #dadada;
}
.box-shadow .tabs li.selected:before {
  -webkit-box-shadow: 2px 2px 0 white;
  -moz-box-shadow: 2px 2px 0 white;
  box-shadow: 2px 2px 0 white;
}
.box-shadow .tabs li.selected:after {
  -webkit-box-shadow: -2px 2px 0 white;
  -moz-box-shadow: -2px 2px 0 white;
  box-shadow: -2px 2px 0 white;
}

.btn.danger, .btn.danger:hover, .btn.error, .btn.error:hover, .btn.success, .btn.success:hover, .btn.info, .btn.info:hover,
.alert-message.danger,
.alert-message.danger:hover,
.alert-message.error,
.alert-message.error:hover,
.alert-message.success,
.alert-message.success:hover,
.alert-message.info,
.alert-message.info:hover {
  color: white;
}
.btn.danger, .btn.error,
.alert-message.danger,
.alert-message.error {
  background-color: #c43c35;
}
.btn.success,
.alert-message.success {
  background-color: #57a957;
}
.btn.info,
.alert-message.info {
  background-color: #339bb9;
}
.btn .close,
.alert-message .close {
  font-family: Arial, sans-serif;
  line-height: 18px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  text-decoration: none;
  background-color: #e6e6e6;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: white;
  background-color: #0064cd;
}
.btn.disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
}
.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}

.cssgradients .btn {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, white, white 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, white, white 25%, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, white 25%, #e6e6e6);
  background-image: -o-linear-gradient(top, white, white 25%, #e6e6e6);
  background-image: linear-gradient(top, white, white 25%, #e6e6e6);
}
.cssgradients .btn.primary {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}
.cssgradients .btn.danger, .cssgradients .btn.error,
.cssgradients .alert-message.danger,
.cssgradients .alert-message.error {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}
.cssgradients .btn.success,
.cssgradients .alert-message.success {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}
.cssgradients .btn.info,
.cssgradients .alert-message.info {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
}

.borderradius .btn {
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.borderradius .btn.large {
  border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.csstransitions .btn {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.box-shadow.rgba .btn {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.box-shadow.rgba .btn.active, .box-shadow.rgba .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.05);
}
.box-shadow.rgba .btn.disabled, .box-shadow.rgba .btn[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

:root .alert-message,
:root .btn {
  border-radius: 0 \0;
}

button.btn::-moz-focus-inner,
input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.column {
  float: left;
  overflow: hidden;
}

.column.last {
  float: none;
}

.size1of2 {
  width: 50%;
}

.size1of4 {
  width: 25%;
}

.size3of4 {
  width: 75%;
}

.size1of3 {
  width: 33%;
}

.size2of3 {
  width: 66%;
}

code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
}

.borderradius code, .borderradius pre {
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}

pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.rgba pre {
  border-color: rgba(0, 0, 0, 0.15);
}

.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
}
.nav-list li {
  list-style: none;
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list .active > a,
.nav-list .active > a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0069d6;
}
.nav-list [class^="icon-"] {
  margin-right: 2px;
}

.well {
  min-height: 20px;
  padding: 8px 0;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

/* Demo css */
html {
  background-image: url("../images/bg.png");
}

body {
  height: 100%;
  font-family: arial;
  font-size: 1em;
  line-height: 1.3em;
  padding: 10px 0 30px;
}

a {
  color: #0d3a8b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

hr {
  width: 50%;
  height: 1px;
  background: #eee;
  border: 0;
  margin: 40px 25%;
}

p {
  margin: 0.3em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.8em;
  line-height: 1.1em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

.collapsible {
  display: none;
}

.hidden {
  display: none;
}

.js .hideOnJS {
  display: none;
}

.no-js .showOnJS {
  display: none;
}

ul {
  padding-left: 20px;
  margin: 0.3em 0;
}
ul li {
  margin: 0.3em 0;
  list-style: disc;
}

img.inline {
  margin: 10px;
}

.box-shadow.rgba img.inline {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.options th {
  background: #222;
  border: 1px solid #111;
  padding: 6px 10px;
  color: #eee;
  vertical-align: middle;
}
.options tr:nth-child(even) {
  background: #eee;
}
.options tr:nth-child(odd) {
  background: #fff;
}
.options td {
  border: 1px solid #ddd;
  padding: 6px 10px;
  vertical-align: middle;
}
.options td pre {
  background: transparent;
  border: 0;
}

.hasBorder {
  border: 4px solid #fff;
}

.box-shadow.rgba .hasShadow {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.page,
.pageHeader {
  margin: 0 auto;
  width: 920px;
  background: #fcfcfc;
  padding: 30px;
  position: relative;
}

.pageHeader {
  background: #267be4;
  color: #fafafa;
}
.pageHeader h1 {
  margin-top: -5px;
}
.pageHeader p a {
  color: #fff;
}

.cssgradients .pageHeader {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #337edc, #0a5abf);
  background-image: -moz-linear-gradient(top, #337edc, #0a5abf);
  background-image: -ms-linear-gradient(top, #337edc, #0a5abf);
  background-image: -o-linear-gradient(top, #337edc, #0a5abf);
  background-image: linear-gradient(top, #337edc, #0a5abf);
}

.borderradius .pageHeader {
  border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
}

/* rondell demo stuff */
#rondellSimple,
#rondellGallery,
#rondellMixed,
#rondellProducts,
#wookmarkDemo,
#rondellTopDemo {
  display: none;
}

#rondellSlider {
  width: 600px;
  height: 300px;
  padding: 5px;
}

#rondellProducts {
  width: 800px;
  padding: 5px;
}

#rondellMixed {
  width: 400px;
  height: 400px;
  padding: 5px;
  position: relative;
}
#rondellMixed .controlShiftLeft,
#rondellMixed .controlShiftRight {
  opacity: 0.6;
  position: absolute;
  left: -100px;
  top: 168px;
}
#rondellMixed .controlShiftLeft:hover,
#rondellMixed .controlShiftRight:hover {
  opacity: 1;
}
#rondellMixed .controlShiftRight {
  left: auto;
  right: -100px;
}

/*
 * Sidemenu
 */
.side-menu {
  position: fixed;
  top: 168px;
  left: 50%;
  margin-left: -650px;
  padding-top: 30px;
  text-align: right;
  width: 140px;
  font-size: 14px;
  z-index: 9999;
}
.side-menu h2 {
  color: #267BE4;
  font-size: 16px;
}
.side-menu li {
  list-style-type: none;
}
.side-menu li a {
  color: #999;
}
.side-menu li a:hover {
  color: #333;
  text-decoration: underline;
}
.side-menu li a.current {
  color: #333;
}

/* fancybox */
#fancybox-wrap,
#fancybox-overlay,
#fancybox-inner,
#fancybox-loading div,
#fancybox-close {
  position: absolute;
  top: 0;
  left: 0;
}

#fancybox-loading div, #fancybox-close {
  background-image: url("../images/fancybox.png");
}

#fancybox-loading {
  position: fixed;
  top: 20%;
  left: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  overflow: hidden;
  z-index: 1104;
  display: none;
}
#fancybox-loading div {
  width: 40px;
  height: 480px;
}

#fancybox-content {
  padding: 10px;
}

#fancybox-img {
  width: inherit;
  height: inherit;
}

#fancybox-overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 1100;
  display: none;
}

#fancybox-tmp {
  overflow: auto;
  display: none;
}

#fancybox-wrap {
  z-index: 1101;
  display: none;
  border: 1px solid #eee;
}

.borderradius #fancybox-wrap {
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.rgba.box-shadow #fancybox-wrap {
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
}

#fancybox-outer {
  position: relative;
  background: #fefefe;
  width: 100%;
  height: 100%;
}

#fancybox-title {
  background: #fefefe;
  padding: 3px 5px;
}

#fancybox-close {
  top: -15px;
  right: -15px;
  left: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1103;
  display: none;
  background-position: -40px 0px;
}

/* Tabs */
.pageHeader .tabs {
  margin: 0 -30px;
  width: 933px;
  padding: 0 10px 0 37px;
}
