/* Demo css */
html {
  height: 100%;
  font-size: 12px;
  color: #000;
  background: #222;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

.cssgradients html {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(top, #999999, #222222);
  background-image: -moz-linear-gradient(top, #999999, #222222);
  background-image: -ms-linear-gradient(top, #999999, #222222);
  background-image: -o-linear-gradient(top, #999999, #222222);
  background-image: linear-gradient(top, #999999, #222222);
}

body {
  color: #333;
  height: 100%;
  font-family: arial;
  font-size: 1em;
  line-height: 1.2em;
  padding: 30px 0;
}

a {
  color: #0d3a8b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

hr {
  width: 50%;
  height: 1px;
  background: #eee;
  border: 0;
  margin: 40px 25%;
}

p {
  margin: 0.6em 0;
  line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.6em 0;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

code, pre {
  color: #555;
  border: 1px solid #f0f0f0;
  background-color: #fafafa;
  padding: 5px;
  font-size: 0.9em;
}

.collapsible {
  display: none;
}

ul {
  padding-left: 20px;
}
ul li {
  margin: 0.6em 0;
  list-style-type: disc;
}

img.inline {
  margin: 10px;
}

.boxshadow.rgba img.inline {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.options th {
  background: #222;
  border: 1px solid #111;
  padding: 6px 10px;
  color: #eee;
  vertical-align: middle;
}
.options tr:nth-child(even) {
  background: #eee;
}
.options tr:nth-child(odd) {
  background: #fff;
}
.options td {
  border: 1px solid #ddd;
  padding: 6px 10px;
  vertical-align: middle;
}
.options td pre {
  background: transparent;
  border: 0;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

.hasBorder {
  border: 4px solid #fff;
}

.centered {
  margin: 0 auto;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.boxshadow.rgba .hasShadow {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.page {
  margin: 0 auto;
  width: 840px;
  background: #fafafa;
  padding: 40px;
}

.sampleElement {
  border: 1px solid #fed980;
  padding: 3px 5px;
  background-color: #ffe199;
  font-size: 1.1em;
  text-shadow: 0 1px 1px #fff24d;
}
.sampleElement, .sampleElement a {
  text-decoration: none;
}
.sampleElement:hover {
  background-color: #fff4d9;
  border-color: #ffd777;
}

.borderradius .sampleElement {
  border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.cssgradients .sampleElement {
  background-image: -webkit-linear-gradient(top, #fff24d, #f9aa18);
  background-image: -moz-linear-gradient(top, #fff24d, #f9aa18);
  background-image: -ms-linear-gradient(top, #fff24d, #f9aa18);
  background-image: -o-linear-gradient(top, #fff24d, #f9aa18);
  background-image: linear-gradient(top, #fff24d, #f9aa18);
}
.cssgradients .sampleElement:hover {
  background-image: -webkit-linear-gradient(top, #fff24d, #fdc661);
  background-image: -moz-linear-gradient(top, #fff24d, #fdc661);
  background-image: -ms-linear-gradient(top, #fff24d, #fdc661);
  background-image: -o-linear-gradient(top, #fff24d, #fdc661);
  background-image: linear-gradient(top, #fff24d, #fdc661);
}

.boxshadow.rgba .sampleElement {
  -webkit-box-shadow: 0 1px 4px rgba(255, 162, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(255, 162, 0, 0.3);
  box-shadow: 0 1px 4px rgba(255, 162, 0, 0.3);
}

/* rondell demo stuff */
#rondellGallery {
  width: 775px;
  height: 450px;
  margin: 20px auto;
}
#rondellGallery .rondellItem, #rondellGallery .rondellItem img {
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.boxshadow.rgba #rondellMixed .rondellContainer,
.boxshadow.rgba #rondellGallery .rondellItem,
.boxshadow.rgba #rondellSimple .rondellItem,
.boxshadow.rgba #wookmarkDemo .rondellItem {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.boxshadow.rgba #rondellMixed .rondellContainer:hover,
.boxshadow.rgba #rondellGallery .rondellItem:hover,
.boxshadow.rgba #rondellSimple .rondellItem:hover,
.boxshadow.rgba #wookmarkDemo .rondellItem:hover {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#rondellMixed {
  width: 420px;
  height: 420px;
  margin: 20px auto;
}
#rondellMixed .rondellContainer {
  background: #fff;
}
#rondellMixed .rondellItem {
  border: 0;
}

#rondellProducts .rondellContainer {
  background: #333;
}
#rondellProducts .rondellItem {
  border: 0;
  background: transparent;
}

.borderradius #rondellProducts .rondellContainer {
  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.cssgradients #rondellProducts .rondellContainer {
  background-image: -webkit-linear-gradient(top, #666666, #111111);
  background-image: -moz-linear-gradient(top, #666666, #111111);
  background-image: -ms-linear-gradient(top, #666666, #111111);
  background-image: -o-linear-gradient(top, #666666, #111111);
  background-image: linear-gradient(top, #666666, #111111);
}

.boxshadow.rgba #rondellProducts .rondellContainer {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}

/* fancybox */
#fancybox-wrap,
#fancybox-overlay,
#fancybox-inner,
#fancybox-loading div,
#fancybox-close {
  position: absolute;
  top: 0;
  left: 0;
}

#fancybox-loading div, #fancybox-close {
  background-image: url("../images/fancybox.png");
}

#fancybox-loading {
  position: fixed;
  top: 20%;
  left: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  overflow: hidden;
  z-index: 1104;
  display: none;
}
#fancybox-loading div {
  width: 40px;
  height: 480px;
}

#fancybox-overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 1100;
  display: none;
}

#fancybox-tmp {
  overflow: auto;
  display: none;
}

#fancybox-wrap {
  z-index: 1101;
  display: none;
  border: 3px solid #888;
}

.borderradius #fancybox-wrap {
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.rgba.boxshadow #fancybox-wrap {
  border-color: rgba(230, 230, 230, 0.7);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

#fancybox-outer {
  position: relative;
  background: #222;
  width: 100%;
  height: 100%;
}

#fancybox-close {
  top: -15px;
  right: -15px;
  left: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1103;
  display: none;
  background-position: -40px 0px;
}
