extends ../includes/layout

prepend head
  title Tests - jQuery Rondell

append head
  link(rel="stylesheet", href="../libs/qunit/qunit.css", type="text/css")

append content

  .column.size1of2
    img.hideOnJS(src="../examples/preview.png", alt="Rondell preview")

    #rondellTest.showOnJS.hidden
      img(src="../examples/images/galery/band.jpg", title="My favourite band", alt="Band")
      img(src="../examples/images/galery/dog.jpg", title="My dog", alt="Dog")
      img(src="../examples/images/galery/cat.jpg", title="My cat", alt="Cat")
      img(src="../examples/images/galery/boar.jpg", title="Dead boar", alt="Boar")
      img(src="../examples/images/galery/snow.jpg", title="Winter wonderland", alt="Winter")
      img(src="../examples/images/galery/rabbit.jpg", title="The white rabbit", alt="Rabbit")
      img(src="../examples/images/galery/trash.jpg", title="Trash", alt="Trash")

  br.clear

  #qunit test
  #qunit-fixture test

append js
  script(src='#{path}libs/qunit/qunit.js')
  script(src='#{path}tests/tests.js')

  :coffeescript
    # Sample rondell carousel
    $("#rondellTest > img").rondell
      preset: "carousel"
      radius:
        x: 130
      center:
        left: 200
        top: 110
      itemProperties:
        size:
          width: 100
          height: 100
