/*
 * SASS Base for Sebobo github projects.
 * 01/27/2013
 */
html {
  height: 100%;
  font-size: 13px;
  font-family: "Lucida Grade", arial;
  color: #333333;
  background: #eeeeee;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

.label {
  padding: 1px 3px 2px;
  font-size: 0.75em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #ccc;
}
.label.important {
  background-color: #c43c35;
}
.label.warning {
  background-color: #f89406;
}
.label.success {
  background-color: #46a546;
}
.label.notice {
  background-color: #62cffc;
}
.label.inverse {
  background-color: black;
}

.borderradius .label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

.centered {
  margin: 0 auto;
}

.center {
  text-align: center;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
.clearfix:after {
  clear: both;
}

.btn.danger, .btn.danger:hover, .btn.error, .btn.error:hover, .btn.success, .btn.success:hover, .btn.info, .btn.info:hover,
.alert-message.danger,
.alert-message.danger:hover,
.alert-message.error,
.alert-message.error:hover,
.alert-message.success,
.alert-message.success:hover,
.alert-message.info,
.alert-message.info:hover {
  color: white;
}
.btn.danger, .btn.error,
.alert-message.danger,
.alert-message.error {
  background-color: #c43c35;
}
.btn.success,
.alert-message.success {
  background-color: #57a957;
}
.btn.info,
.alert-message.info {
  background-color: #339bb9;
}
.btn .close,
.alert-message .close {
  font-family: Arial, sans-serif;
  line-height: 18px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  text-decoration: none;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background: -o-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background: linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.active, .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.large {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: white;
  background-color: #0064cd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background: -webkit-linear-gradient(#049cdb, #0064cd);
  background: -moz-linear-gradient(#049cdb, #0064cd);
  background: -o-linear-gradient(#049cdb, #0064cd);
  background: linear-gradient(#049cdb, #0064cd);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2);
}
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}

.btn.danger, .btn.error,
.alert-message.danger,
.alert-message.error {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background: -webkit-linear-gradient(#ee5f5b, #c43c35);
  background: -moz-linear-gradient(#ee5f5b, #c43c35);
  background: -o-linear-gradient(#ee5f5b, #c43c35);
  background: linear-gradient(#ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2);
}
.btn.success,
.alert-message.success {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background: -webkit-linear-gradient(#62c462, #57a957);
  background: -moz-linear-gradient(#62c462, #57a957);
  background: -o-linear-gradient(#62c462, #57a957);
  background: linear-gradient(#62c462, #57a957);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2);
}
.btn.info,
.alert-message.info {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background: -webkit-linear-gradient(#5bc0de, #339bb9);
  background: -moz-linear-gradient(#5bc0de, #339bb9);
  background: -o-linear-gradient(#5bc0de, #339bb9);
  background: linear-gradient(#5bc0de, #339bb9);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2);
}

:root .alert-message,
:root .btn {
  border-radius: 0 \0;
}

button.btn::-moz-focus-inner,
input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.column {
  float: left;
  overflow: hidden;
}

.column.last {
  float: none;
}

.size1of2 {
  width: 50%;
}

.size1of4 {
  width: 25%;
}

.size3of4 {
  width: 75%;
}

.size1of3 {
  width: 33%;
}

.size2of3 {
  width: 66%;
}

code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}

pre {
  background-color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #ccc;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.rgba pre {
  border-color: rgba(0, 0, 0, 0.15);
}

.nav {
  margin: 0 0 18px;
  list-style: none;
  padding: 0;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav-pills {
  float: left;
  padding-left: 14px;
}
.nav-pills li {
  float: left;
  list-style: none;
}
.nav-pills li a {
  text-shadow: 0 1px 1px #eeeeee;
  padding: 8px 12px;
  margin: 2px;
  line-height: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.nav-pills li.active a, .nav-pills li.active a:hover {
  text-shadow: 0 1px 1px #555555;
  color: white;
  background-color: #0069d6;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.nav-pills li a:hover {
  background-color: #eeeeee;
}
.nav-pills .spacer {
  padding: 4px 0;
  margin: 2px 0;
  color: #ccc;
  display: block;
}

.well {
  min-height: 20px;
  padding: 8px 0;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

code,
pre {
  padding: 0 3px 2px;
  font-family: monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

code {
  padding: 3px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre.prettyprint {
  margin-bottom: 18px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/* Demo css */
html {
  background: #222222 url("images/bg.png");
}

body {
  height: 100%;
  font-family: arial;
  font-size: 1em;
  line-height: 1.3em;
  padding: 30px 0;
}

a {
  color: #0d3a8b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

hr {
  width: 50%;
  height: 1px;
  background: #eee;
  border: 0;
  margin: 20px 25%;
}

p {
  margin: 0.6em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.3em 0 0.8em;
  line-height: 1.1em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.hidden {
  display: none;
}

.js .hideOnJS {
  display: none;
}

.no-js .showOnJS {
  display: none;
}

ul {
  padding-left: 20px;
  margin: 0.3em 0;
}
ul li {
  margin: 0.3em 0;
  list-style: disc;
}

img.inline {
  margin: 10px;
}

.box-shadow.rgba img.inline {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.options th {
  background: #222;
  border: 1px solid #111;
  padding: 6px 10px;
  color: #eee;
  vertical-align: middle;
}
.options tr:nth-child(even) {
  background: #eee;
}
.options tr:nth-child(odd) {
  background: #fff;
}
.options td {
  border: 1px solid #ddd;
  padding: 6px 10px;
  vertical-align: middle;
}
.options td pre {
  background: transparent;
  border: 0;
}

.hasBorder {
  border: 4px solid #fff;
}

.hasShadow {
  -webkit-box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.4);
}

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.page,
.pageHeader {
  margin: 0 auto;
  width: 920px;
  background: #fafafa;
  padding: 30px;
  position: relative;
}

.pageHeader {
  background: #267be4;
  color: #fafafa;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #337edc), color-stop(100%, #0a5abf));
  background: -webkit-linear-gradient(#337edc, #0a5abf);
  background: -moz-linear-gradient(#337edc, #0a5abf);
  background: -o-linear-gradient(#337edc, #0a5abf);
  background: linear-gradient(#337edc, #0a5abf);
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.pageHeader p a {
  color: #fff;
}

/* rondell demo stuff */
.rondell-container {
  margin: 0 auto;
}

/* Tabs */
.pageHeader .tabs {
  margin: 0 -30px;
  width: 933px;
  padding: 0 10px 0 37px;
}
