body {
    color:#333; font:12px helvetica;
}
img { border:0; }
.rondell_item {
    position:absolute; display:block; overflow:hidden;
    border:1px solid #ccc; background:#fff;
}
.rondell_item a { cursor:default; }
.rondell_item_focused a { cursor:auto; }
.rondell_item img {
    vertical-align:bottom; display:block; margin:0 auto;
}
.rondell_item img.resizeable {
    width:100%; height:100%;
}
.rondell_item .rondell_caption {
    position:relative; margin:5%; color:#333; padding:5px 0;
}
.rondell_item .rondell_caption.overlay {
    position:absolute; bottom:0; width:90%; display:none;
    background:#333; background-color:rgba(0, 0, 0, 0.5); color:#f5f5f5;
    border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
}
.rondell_item .rondell_caption > * { margin:0.6em 8px; }

div.rondell_controls {
    position:relative; z-index:9000; height:30px; 
}
a.rondell_control {
	font-size:1.2em; font-weight:bold; color:#000;
	padding:8px; display:block; text-decoration:none;
	background:#f5f5f5; 
	border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); 
}
a.rondell_shift_left { float:left; }
a.rondell_shift_right { float:right; }