
@mixin gradient-bar($primaryColor, $secondaryColor) {
  @include background(linear-gradient($primaryColor, $secondaryColor));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  border-color: $secondaryColor $secondaryColor darken($secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.2);
}
