@import "base";

/* Demo css */

html {
  background: #222 url('images/bg.png');
}

body {
  height: 100%;
  font-family: arial;
  font-size: 1em;
  line-height: 1.3em;
  padding: 30px 0;
}

a {
  color:#0d3a8b;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}
img { border: 0; }
hr { width: 50%; height: 1px; background: #eee; border: 0; margin: 20px 25%; }
p { margin: 0.6em 0; }

h1, h2, h3, h4, h5, h6 { margin: 0.3em 0 0.8em;  line-height: 1.1em; font-weight: bold; }
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }

em { font-style: italic; }
strong { font-weight: bold; }

.hidden {
  display: none;
}

.js .hideOnJS {
  display: none;
}
.no-js .showOnJS {
  display: none;
}

ul {
  padding-left:20px;
  margin: 0.3em 0 ;
  li { margin: 0.3em 0; list-style: disc; }
}

img.inline { margin: 10px; }
.box-shadow.rgba img.inline { @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.5)); }

.options {
  th {
    background: #222;
    border: 1px solid #111;
    padding: 6px 10px;
    color: #eee;
    vertical-align: middle;
  }

  tr:nth-child(even) { background: #eee; }
  tr:nth-child(odd) { background: #fff; }

  td {
    border: 1px solid #ddd;
    padding: 6px 10px;
    vertical-align: middle;

    pre {
      background: transparent;
      border: 0;
    }
  }
}

.hasBorder { border: 4px solid #fff; }
.hasShadow {
  @include box-shadow(0 1px 6px -1px rgba(0, 0, 0, 0.4));
}
.rounded {
  @include border-radius(5px);
}

.page,
.pageHeader {
  margin: 0 auto;
  width: 920px;
  background: #fafafa;
  padding: 30px;
  position: relative;
}

.pageHeader {
  background: #267be4;
  color: #fafafa;
  @include background(linear-gradient(#337edc, #0a5abf));
  @include border-radius(8px 8px 0 0);

  p a {
    color: #fff;
  }
}

/* rondell demo stuff */

.rondell-container {
  margin: 0 auto;
}

/* Tabs */
.pageHeader .tabs {
  margin: 0 -30px;
  width: 933px;
  padding: 0 10px 0 37px;
}
